# Postgres
POSTGRES_USER=deuser
POSTGRES_PASSWORD=depassword
POSTGRES_DB=dedb
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Kafka
KAFKA_BROKER=kafka:9092
KAFKA_TOPIC=events
PRODUCER_RATE=1

# MinIO
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=raw-events

# Airflow (3.1.6)
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://deuser:depassword@postgres/dedb
AIRFLOW__CORE__FERNET_KEY=changeme_generate_with_fernet
AIRFLOW__WEBSERVER__SECRET_KEY=changeme_webserver_secret
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin

# Superset
SUPERSET_SECRET_KEY=superset_dev_secret_change_me

# Model API
MODEL_PATH=/models/model.pkl
